{{ encore_entry_link_tags('bootstrap-css') }}
{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
        <h1 class="text-center">Mentions légales</h1>
        <hr>
        <p class="text-left">
            Toovalu – Siret établissement secondaire : 7 88 888 493 000 38
        <hr>
        Le site www.toovalu.com est hébergé par Neptune IS, 2 rue de la Paix à Grenoble.
        <hr>
        réservation du nom de domaine « toovalu.com » a été effectuée par Toovalu selon les dispositions en vigueur
        auprès de l’AFNIC.
        Conformément à la loi Informatique et Libertés du 06/01/78, la collecte des données personnelles a fait
        l’objet d’une déclaration à la CNIL.
        <hr>
        L’utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppressions des données
        qui le concernent (article 38 et suivants de la loi « Informatique et Libertés »).
        <hr>
        Pour l’exercer, l’utilisateur peut s’adresser à la société Toovalu.
        <hr>
        Toute reproduction ou représentation totale ou partielle de ce site par quelques procédé que ce soit, sans
        l’autorisation expresse de Toovalu est interdite et constituerait une contrefaçon sanctionnée par les
        articles L 335-2 et suivants du Code de la propriété intellectuelle.
        <hr>
        Les bases de données figurant sur le site Internet sont protégées par les dispositions de la loi du 11
        juillet 1996 relative à la protection juridique des bases de données. Sont notamment interdites l’extraction
        et la réutilisation, quantitativement ou qualitativement substantielles, du contenu des bases de données
        contenues sur ce site Internet. Tout contrevenant s’expose aux sanctions visées aux articles L 3543-1 et
        suivants du Code de la propriété intellectuelle.
        <hr>
        La présence de liens hypertexte renvoyant vers d’autres sites ne constitue pas une garantie sur la qualité
        de contenu et de bon fonctionnement desdits sites. La responsabilité de Toovalu ne saurait être engagée
        quant au contenu de ces sites. L’internaute doit utiliser ces informations avec les précautions d’usage.</p>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}