/*
Theme Name: Toovalu
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress theme child for toovalu.
Author: toovalu
Template: oceanwp
Version: 1.0
*/

body{
	font-family: 'Barlow', Sans-serif, serif;
}

/* Menu */
.text-wrap{
	color:#191a1c;
	font-weight: bold;
}

a{
	color: black;
}
.btn-appel-action a {
	background-color: white;
	padding:10px 10px !important;
	color: black;
	border: solid #c9f2f0;
}

ul #site-header.center-header #site-navigation-wrap .left-menu, #site-header.center-header #site-navigation-wrap .right-menu {
	width: auto;
}

/* Header */

/* Footer */

#footer-widgets, #footer-widgets p, #footer-widgets li a:before, #footer-widgets .contact-info-widget span.oceanwp-contact-title, #footer-widgets .recent-posts-date, #footer-widgets .recent-posts-comments, #footer-widgets .widget-recent-posts-icons li .fa{
	color:#191a1c;
}
.reseaux-sociaux{
	color:#191a1c;
}