img
{
    max-width: 50%;
    border:1px solid #ef9a9a;

}

.image-left
{
    margin: 1em 0;
}

@media (min-width: 20em)
{
    .image-left
    {
        display: flex;
        align-items: center;
    }

    .image-left img
    {
        margin-right: 1em;
        float: left; /* fallback */
    }

    /* clearfix for fallback */
    .image-left::after
    {
        content: "";
        display: block;
        clear: both;
    }
}

@media (min-width: 30em)
{
    .image-left img, img
    {
        flex-shrink: 0;
    }
}

.b-corp-title{
    color: #12989b;
}

span{
    font-weight: bold;
}

.container{
    margin: 5%;
}
