//
// Base styles
//

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}

// Headings for larger alerts
.alert-heading {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: 700;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
  padding-right: 1rem;

  // Adjust close link position
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 1rem * 1.25 1rem;
  }
}

.alert-success {
  background-color: var(--green);
  color: white;
}
.alert-info {
  background-color: var(--blue);
  color: white;
}
.alert-warning {
  background-color: var(--pink);
  color: white;
}
.alert-danger {
  background-color: var(--red);
  color: white;
}
