/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {
  .form-row {
    margin: 15px 0;
  }
  input[type="submit"] {
    margin-left: -4rem;
    background: var(--green);
  }
  label {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    .required-label {
      font-weight: normal;
      color: var(--red)
    }
  }
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea {
    background-color: lighten($green, 60%);
    border: 1px solid lighten($green, 60%);
    padding: 5px 15px;
    display: block;
    width: 100%;
    &:focus {
      outline: none;
      background: var(--white);
      border: 1px solid var(--green);
      color: var(--blue);
    }
  }
  label, input[type=text], textarea {
    color: var(--blue);
  }
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  a.btn {
    --current: var(--blue);
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    background: var(--current);
    color: var(--white);
    border: 1px solid var(--current);
    font-weight: bold;
    font-size: 1rem;
    &::after {
      content: "→";
      font-size: 2rem;
      padding-left: 1rem;
      vertical-align: middle;
      line-height: 0.5;
    }
    &:hover,
    &:focus {
      cursor: pointer;
      background: white;
      border-bottom-width: 1px;
      color: var(--current);
    }
    &.btn--green {
      --current: var(--green);
    }
    &.btn--pink {
      --current: var(--pink);
    }
  }
  .submit-container {
    text-align: center;
  }
}


#demo-form {
  max-width: 60%;
  margin: 0 auto;
}

//#contactForm {
//  background: var(--green);
//  padding: 3rem;
//
//  form {
//    display: flex;
//    width: 760px;
//    flex-shrink: 1;
//
//    input {
//      flex-grow: 1;
//      background: #fff;
//      border-radius: 2rem;
//      padding: 1rem 4rem 1rem 2rem;
//      width: 25rem;
//    }
//  }
//}
//#contactForm {
//  label {
//    padding-right: 2rem;
//    color: var(--white);
//  }
//  .container {
//    display: flex;
//    align-items: stretch;
//    margin-bottom: 0;
//  }
//  .field {
//    display: flex;
//    align-items: center;
//    padding: 0;
//  }
//  .submit-container {
//    display: flex;
//    padding: 0;
//  }
//}

//@media (max-width: 800px) {
//  #contactForm form {
//    width: auto;
//    flex-wrap: wrap;
//
//    button {
//      margin-top: 1rem;
//      margin-left: 0;
//    }
//  }
//}


//.space {
//  word-spacing: normal;
//}