#homepage_header {
  text-align: center;
  max-width: 1080px;
  h1 {
    font-weight: 300;
    font-size: 1.9rem;
    strong {
      font-size: 3rem;
    }
  }
  img {
    margin-bottom: 2rem;
    width: 70%;
  }
}

@media (min-width: 400px) and (max-width: 999px) {
  .grid2-sm,
  .grid4-sm,
  .grid6-sm,
  .grid8-sm,
  .grid_fullcell-sm {
    display: grid;
  }

  .grid2-sm {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  .grid4-sm {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .grid6-sm {
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
  }

  .grid8-sm {
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  }
}

@media (max-width: 399px) {
  .grid2-xs,
  .grid4-xs,
  .grid6-xs,
  .grid8-xs,
  .grid_fullcell-xs {
    display: grid;
  }

  .grid2-xs {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  .grid4-xs {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .grid6-xs {
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
  }

  .grid8-xs {
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  }
}
@media (min-width: 1000px) {
  .grid2,
  .grid4,
  .grid6,
  .grid8,
  .grid_fullcell {
    display: grid;
  }

  .grid2 {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }

  .grid4 {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    h3 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .grid6 {
    grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
  }

  .grid8 {
    grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  }

  .grid_fullcell {
    img {
      width: 100%;
    }
  }
}
