@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Pacifico&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: var(--blue);
  font-family: "Fira Sans", sans-serif;
  font-size: calc(15px + 4 * (100vw / 1500));
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: normal;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h1 em,
h2 em,
h3 em {
  font-family: "Pacifico", cursive;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
}
h3 {
  font-size: 2rem;
  line-height: 150%;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1rem;
}

address {
  margin: 0 0 1rem;
}

pre {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  font-weight: 300;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fffefc;
  border-top: 0.4rem solid;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  width: 500px;
  margin: 4rem auto;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}


/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
a {
  color: var(--green);
  text-decoration: none;
  &:visited {
    color: var(--green);
    &.pink-visited {
      color: var(--pink);
    }
    .white {
      color: var(--white);
    }
  }
}
a#susty-back-link {
  padding: 0.3em 0.6em;
}

a:focus,
a:active {
  outline: thin dotted;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

.wp-block-image {
  margin-bottom: 2rem;
  figure {
    figcaption {
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}

.wp-block-pullquote {
  margin: 3rem 0;
  border: 1px solid #ccc;
  border-width: 1px 0;
  padding: 2rem 6rem;
  blockquote {
    text-align-last: left;
    font-weight: 300;
    line-height: 2rem;
    text-indent: 0;
    &::first-letter {
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 1.5rem;
      margin: 0;
    }
    cite {
      font-size: 0.9rem;
      font-style: normal;
    }
  }
}

.text-center {
  text-align: center;
}

.color-blue {
  color: var(--blue);
}

.color-pink{
  color:var(--pink)
}

.color-yellow{
  color:var(--yellow)
}

.color-green {
  color: var(--green);
}

.bg-green {
  background: var(--green);
  color: var(--white);
}
.bg-blue {
  background: var(--blue);
  color: var(--white);
}
.bg-pink {
  background: var(--pink);
  color: var(--white);
}
.bg-yellow {
  background: var(--yellow);
  color: var(--white);
}
