$blue: #115b85;
$green: #05b0a2;
$pink: #f39ea5;
$black: #2b2e34;
$yellow: #f2c183;
$white: #ffffff;

:root {
  --blue: #115b85;
  --green: #05b0a2;
  --pink: #f39ea5;
  --black: #2b2e34;
  --yellow: #f2c183;
  --white: #ffffff;
}
