{{ encore_entry_link_tags('b-corp') }}

<div class="container">
    <div class="image-left">
        <img src="uploads/images/home/Label-B-Corp-toovalu.jpeg" alt="B corp Logo"/>
        <div>
            <h3 class="b-corp-title">NOUS SOMMES UNE B CORP <span>LA PREMIERE A NANTES</span></h3>
            <h4>
                RENFORCER L’EXIGENCE DU
                PRINCIPE D’ENTREPRISE CITOYENNE ! </h4>
            <h5>
                B POUR BENEFIT : LE BUSINESS QUI PROFITE À TOUS !
            </h5>
            <p>Depuis le 31 août 2017, TOOVALU fait partie de la communauté B Corp. Celle-ci réunit plus de 2 000
                entreprises dans plus de 50 pays dont 300 en Europe. TOOVALU a fait le choix de rejoindre ce
                mouvement pour affirmer son esprit d’entreprise citoyenne et engagée.
            </p>
        </div>

    </div>
</div>