<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
{% block head %}
    <script src="https://use.fontawesome.com/df9f6dd7db.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Toovalu &mdash; </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Toovalu"/>
    <meta name="keywords" content="TOOVALU, impact, rse, entreprise"/>
    <meta name="author" content="Toovalu"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Les solutions logicielles TOOVALU"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content="https://www.toovalu.com/"/>
    <meta property="og:site_name" content="Toovalu"/>
    <meta property="og:description"
          content="La technologie Toovalu plonge aux racines de vos données pour agréger, consolider vos informations extra-financières & valoriser vos impacts positifs."/>
    <meta name="twitter:title" content="Les solutions logicielles TOOVALU"/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content="https://www.toovalu.com/"/>
    <meta name="twitter:card"
          content="La technologie Toovalu plonge aux racines de vos données pour agréger, consolider vos informations extra-financières & valoriser vos impacts positifs."/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('bootstrap-css') }}

    {% endblock %}
{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
    {% include 'slogan.html.twig' %}
    {% include 'service.html.twig' %}
    {% include 'b-corp.html.twig' %}
    {% include 'testimonial.html.twig' %}
{#    {% include 'blog.html.twig' %}#}

{% endblock %}
{% include 'footer.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('bootstrap') }}
{% endblock %}

</html>

