<section id="fh5co-about" data-section="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">L'équipe</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>« Un écosystème AGILE et MULTI-EXPERTISES qui apporte la palette complète des compétences
                            nécessaires pour mettre en œuvre une TRAJECTOIRE POSITIVE, créatrice de valeurs durables en
                            matière de DEVELOPPEMENT DURABLE ».</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for employee in employees %}
                <div class="col-md-4">
                    <div class="fh5co-person text-center to-animate">
                        <h3>{{ employee.firstName }} {{ employee.lastName }}</h3>
                        <span class="fh5co-position">{{ employee.job }}</span>
                        <p>{{ employee.biography }}</p>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>