{{ encore_entry_link_tags('bootstrap-css') }}
{{ encore_entry_link_tags('footer') }}

{% block footer %}
    <section id="lab_social_icon_footer">
            <div class="text-center center-block">
                <p>&copy; TOOVALU </p>
                <div class="fa">
                    <a href="https://twitter.com/ToovaluRSE"><i id="social-tw"
                                                                class="fab fa-twitter-square fa-3x social"></i></a>
                    <a href="https://www.linkedin.com/company/toovalu-sas/"><i id="social-lk"
                                                                               class="fab fa-linkedin fa-3x social"></i></a>
                    <a href="https://www.youtube.com/channel/UCNDVj-pdNZVUNekZ-RiW7AA/featured"><i
                                id="social-yt"
                                class="fab fa-youtube-square fa-3x social"></i></a>
                    <a href="mailto:contact@toovalu.com"><i id="social-em"
                                                            class="fas fa-envelope-square fa-3x social"></i></a>
                </div>
            </div>
    </section>
{% endblock %}