{{ encore_entry_link_tags('home') }}

{% block presentation %}
 <div class="presentation">
    <div class="flip">
        <div class="front" style="background-image: url(uploads/images/home/kiribati-home-1.png)">
            <h1 class="text-shadow">Outils</h1>
        </div>
        <div class="back">
            <p>des tableaux de bord clairs, dynamiques,
                engageants et communiquants.
                Grâce au module Impact, vous pilotez
                votre mission et vos engagements.</p>
        </div>
    </div>
    <div class="flip">
        <div class="front" style="background-image: url(uploads/images/home/kiribati-home-2.png)">
            <h1 class="text-shadow">Informations</h1>
        </div>
        <div class="back">
            <p>Des données extra-financières toujours à
                jour, fiables et accessibles.
                C’est la bonne information, au bon moment
                et pour la bonne personne !</p>
        </div>
    </div>
    <div class="flip">
        <div class="front" style="background-image: url(uploads/images/home/kiribati-home-3.png)">
            <h1 class="text-shadow">Tableaux de bords</h1>
        </div>
        <div class="back">
            <p>Des tableaux de bord clairs, dynamiques,
                engageants et communiquants.
                Grâce au module Impact, vous pilotez
                votre mission et vos engagements.</p>
        </div>
    </div>
 </div>
{% endblock %}