<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="fh5co-block to-animate" style="background-image: url(uploads/images/home/kiribati-home-1.png);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-leaf"></i>
                    <p>Un outil accessible et efficace pour
                        engager une stratégie Climat et/ou RSE et
                        la faire passer à la vitesse supérieure</p>
                </div>
            </div>
            <div class="fh5co-block to-animate" style="background-image: url(uploads/images/home/kiribati-home-2.png);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-tint"></i>
                    <p>Des données extra-financières toujours à
                        jour, fiables et accessibles.
                        C’est la bonne information, au bon moment
                        et pour la bonne personne !</p>
                </div>
            </div>
            <div class="fh5co-block to-animate" style="background-image: url(uploads/images/home/kiribati-home-3.png);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-pagelines"></i>
                    <p>Des tableaux de bord clairs, dynamiques,
                        engageants et communiquants.
                        Grâce au module Impact, vous pilotez
                        votre mission et vos engagements.</p>
                </div>
            </div>
        </div>
        <div class="row watch-video text-center to-animate">
            <span>Quizz Sobriété Numérique avec Toovalu & Aguaro</span>
            <a href="https://www.youtube.com/watch?v=wa4FZquPyMs" class="popup-vimeo btn-video"><i
                        class="icon-play2"></i></a>
        </div>
    </div>
</section>