{{ encore_entry_link_tags('bootstrap-css') }}
{{ encore_entry_link_tags('service') }}


{% block body %}
    <div class="container-service">
        <div class="card">
            <input type="radio" name="select" id="slide_1" checked>
            <input type="radio" name="select" id="slide_2">
            <input type="radio" name="select" id="slide_3">
            <input type="radio" name="select" id="slide_4">
            <input type="checkbox" id="slideImg">

            <div class="slider">
                <label for="slide_1" class="slide slide_1"></label>
                <label for="slide_2" class="slide slide_2"></label>
                <label for="slide_3" class="slide slide_3"></label>
                <label for="slide_4" class="slide slide_4"></label>
            </div>

            <div class="inner_part">
                <div class="content content_1">
                    <div class="title fa fa-compass"> PILOTER</div>
                    <div class="text">
                        vos stratégies RSE et Climat de façon structuré et dynamique
                    </div>
                </div>
            </div>

            <div class="inner_part">
                <div class="content content_2">
                    <div class="title fa fa-clipboard"> METTRE EN OEUVRE</div>
                    <div class="text">
                        un plan d'actions pour améliorer en continu vos performances extra-fiancières (à votre rythme!)
                    </div>
                </div>
            </div>

            <div class="inner_part">
                <div class="content content_3">
                    <div class="title fa fa-comments"> COMMUNIQUER</div>
                    <div class="text">Clairement et facilement en externe, sur l'évolution de vos indicateurs-clés
                    </div>
                </div>
            </div>
            <div class="inner_part">
                <div class="content content_4">
                    <div class="title fa fa-thumbs-up"> ENGAGER</div>
                    <div class="text">
                        Une évolution vertueuse, de la réduction de vos impacts négatifs vers une activité à impact
                        positif
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <svg viewBox="0 0 1200 300">
            <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="80%">Toovalu en 5 étapes</text>
            </symbol>

            <g class = "g-ants">
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
                <use xlink:href="#s-text" class="text-copy"></use>
            </g>
        </svg>
        <ul class="process">
            <li class="process__item">
                <span class="process__number">1</span>
                <span class="process__title">Choisissez</span>
                <span class="process__subtitle">vos indicateurs issus des référentiels de votre secteur d’activité, ou entièrement personnalisés pour votre entreprise.</span>
            </li>
            <li class="process__item">
                <span class="process__number">2</span>
                <span class="process__title">Collectez</span>
                <span class="process__subtitle">en toute fluidité en important vos données de façon automatique ou manuelle.</span>
            </li>
            <li class="process__item">
                <span class="process__number">3</span>
                <span class="process__title">Analysez</span>
                <span class="process__subtitle">vos données en les faisant auditer et/ou en les comparant selon vos axes d’analyse.</span>
            </li>
            <li class="process__item">
                <span class="process__number">4</span>
                <span class="process__title">Editez</span>
                <span class="process__subtitle">et partagez vos tableaux de bords et indicateurs-clés. Votre empreinte carbone et vos indicateurs clés RSE sont calculés automatiquement.</span>
            </li>
            <li class="process__item">
                <span class="process__number">5</span>
                <span class="process__title">Améliorez</span>
                <span class="process__subtitle">en continu vos performances extra-financières, en pilotant vos plans d’actions et vos objectifs.</span>
            </li>
        </ul>
    </div>
{% endblock %}