
<section id="fh5co-services" data-section="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border to-animate">Ce que l'on fait pour vous</h2>
                <div class="row">
                    <div class="col-md-8 subtext to-animate">
                        <h3>Bien plus qu'un logiciel,
                            une transformation au service de l'impact</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-users"></i>
                <h3>Marque Employeur</h3>
                <p>Votre entreprise gagne en attractivité et en image.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-exclamation-triangle"></i>
                <h3>Réduire Vos Risques</h3>
                <p>Sécurisez votre chaîne de valeur : fournisseurs, collaborateurs et clients.</p>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-check-circle"></i>
                <h3>Conformité</h3>
                <p>Anticipez les
                    réglementations : climat, social...
                    Soyez prêt pour la DPEF</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service to-animate">
                <i class="icon to-animate-2 icon-heart"></i>
                <h3>Démarquez-vous</h3>
                <p>Devenez une entreprise éco-innovante.</p>
            </div>

        </div>
    </div>
</section>