{{ encore_entry_link_tags('bootstrap-css') }}
{{ encore_entry_link_tags('slogan') }}

{% block body %}
    <div class="container-presentation">
            <div class="remotal">
        <span>Stratégies climat & RSE :
            <br>  s'il était temps de changer d'ère ?</span>

                <!--- Slogan code starts here -->
                <div class="text-rotator">
                    <div class="slogan">
                        <ul>
                            <li class="first"><span>bas-carbone</span></li>
                            <li><span class="color">impact</span></li>
                            <li><span class="color">entreprise à mission</span></li>
                            <li><span class="color">résilience</span></li>
                        </ul>
                    </div>
                </div>
                <!--- Slogan code ends here -->
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('slogan-js') }}
{% endblock %}