{{ encore_entry_link_tags('bootstrap-css') }}

{% block header %}
    <!-- Icone dans l'encart "Contact Information" -->
    <script src="https://use.fontawesome.com/df9f6dd7db.js"></script>
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
<h3 class="text-center">ILS ONT DIT</h3>
    {% for testimonial in testimonials %}
        <blockquote class="blockquote text-center">
            <p class="mb-0 fa fa-comments"> {{ testimonial.content }}</p>
            <footer class="blockquote-footer">{{ testimonial.name }}
                <cite title="Source Title">{{ testimonial.job }}</cite></footer>
        </blockquote>

    {% endfor %}
    </div>
{% endblock %}