{{ encore_entry_link_tags('bootstrap-css') }}


{% block body %}
    {% include 'menu.html.twig' %}
    <div class="container">
    <h1 class="text-center">{{ article.title }}</h1>
    <p class="text-left">{{ article.publicationDate|date }}</p>
    <div class="lead">{{ article.content|raw }}</div>
{% endblock %}
{% include 'footer.html.twig' %}
